@model Push.Models.Encabezado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EncabezadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
